* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 10px;
    font-family: sans-serif;
}

.wook-show>*,
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

.bl {
    border-left: 1px solid #eee;
}

a {
    text-decoration: none;
}

.row::before,
.row::after {
    content: '';
    display: block;
    clear: both;
}

.col {
    float: left;
}

.col-1 {
    width: 8.333333333333333%;
}

.col-2 {
    width: 16.666666666666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333333333333%;
}

.col-5 {
    width: 41.666666666666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333333333333%;
}

.col-8 {
    width: 66.666666666666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333333333333%;
}

.col-11 {
    width: 91.666666666666666%;
}

.col-12 {
    width: 100%;
}

.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.about {
    /* background-image: url(../img/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    text-align: center;
}

.headimg {
    margin-top: 40px;
    margin-bottom: 30px;
}

.headimg img,
.about .other img {
    height: 120px;
    width: 120px;
}

.headimg img {
    border-radius: 100px;
}

.desc,
.other .desc {
    margin-bottom: 30px;
}

.desc>*,
.other .author,
.other .desc {
    font-size: 1.3em;
}

.about .desc {
    border-bottom: 1px dashed #eee;
}

.about .link-group>* {
    display: block;
    font-size: 1.6em;
    color: #666;
    margin-bottom: 15px;
    padding: 10px;
}

.about .link-group a:hover {
    color: black;
    font-weight: bold;
    background: pink;
}

.about .other img {
    margin-top: 20px;
    text-align: center;
}

.nav {
    font-size: 2.3em;
    color: #555;
    font-weight: bold;
    border-bottom: 1px dashed #eee
}

.nav .container>* {
    margin-top: 15px;
    margin-bottom: 15px;
    vertical-align: middle;
}

.nav a,
.project-recoms .title a,
.art .title a {
    color: inherit;
}

.nav a {
    padding-right: 20px;
}

.nav a::after {
    content: '';
    display: inline-block;
    position: relative;
    left: .7em;
    width: 1px;
    height: 15px;
    background: #bbb;
}

#menu-checkbox,
#menu-checkbox1,
.nav label,
.nav a:last-child::after {
    display: none;
}

.nav .link-group a::after {
    top: 1px;
}

.nav .icon-group a::after {
    bottom: 4px;
}

.nav img {
    height: 28px;
    width: 28px;
    border-radius: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.mtitle {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 2em;
    color: rgb(250, 182, 57);
    font-weight: bold;
}

.project-recoms>* {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-recoms .pimg img,
.other img {
    width: 80px;
}

.project-recoms .title a,
.art .title a,
.other .title a,
.footer .title {
    font-size: 1.6em;
}

.nav a:hover,
.project-recoms .title a:hover,
.art .title a:hover,
.other .title a:hover,
.footer .title {
    color: palevioletred;
}

.artice-recoms .art>* {
    margin-top: 5px;
    margin-bottom: 5px;
}

.art {
    margin: 15px 0;
}

.art .other>* {
    font-size: 1.3em;
    color: #777;
    padding-right: 5px;
}

.art .content {
    padding-top: 10px;
    display: flex;
}

.art .content img {
    padding-top: 5px;
}

.art .desc {
    font-size: 1.5em;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.other>* {
    text-align: center;
    margin-top: 5px;
}

.other img {
    width: 84px;
}

.other .title {
    font-weight: 700;
    margin-bottom: 5px;
}

.other .title a {
    color: rgb(223, 124, 223)
}

.footer {
    margin: 10px 0;
    font-size: 14px;
    border-top: 1px dashed #eee;
}

.footer .title {
    font-size: 1.2em;
    font-weight: 700;
}

.footer .desc {
    font-size: .8em;
    padding: 3px 0;
}