<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue清单</title>
</head>

<body>
    <div id="main">
        <div class="navbar">
            <h1>今日份清单</h1>
        </div>
        <div class="header">
            Do it!
        </div>
        <form @submit.prevent="merge" id="task-form">
            <div class="wrap">
                <input type="text" v-model="current.title" autocomplete="off">
            </div>
        </form>
        <div class="task-list">
            <div class="wrap">
                <div class="segment-title">未完成</div>
                <div class="item" v-for="(todo, index) in list">
                    <span class='title'>{{todo.title}}</span>
                </div>
            </div>
        </div>
        <div class="task-list">
            <div class="wrap">
                <div class="segment-title">已完成</div>
            </div>
        </div>
    </div>
    <link href="https://cdn.bootcss.com/normalize/8.0.1/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="./js/localstorage.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>