*{
    box-sizing: border-box;
}
.row::before,.row::after{
    content:'';
    display: block;
    clear:both;
}
.col{
    float: left;
    border: solid papayawhip;
    padding: 2px;
    margin-bottom: 2px;
}

.col-1{
    width:8.333333333333333%;
}
.col-2{
    width:16.666666666666666%;
}
.col-3{
    width:25%;
}
.col-4{
    width:33.333333333333333%;
}
.col-5{
    width:41.666666666666666%;
}
.col-6{
    width:50%;
}
.col-7{
    width:58.333333333333333%;
}
.col-8{
    width:66.666666666666666%;
}
.col-9{
    width:75%;
}
.col-10{
    width:83.333333333333333%;
}
.col-11{
    width:91.666666666666666%;
}
.col-12{
    width:100%;
}

body{
    margin: 0px;
    font: 13px sans-serif;
    background:plum;
    
}
.global-nav{
    margin-top: 20px;
}
.global-nav a{
    display: inline-block;
    padding: .3em .5em;
    text-decoration: none;
    color: #eee;
}

.global-nav .right{
    text-align: right;
}

.container{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    display: inline-block;
    width: 90px;
    height: 45px;
    background-image: url(./static/lianjia-sprite.png);
    background-position: -8px -12px;
}

.icon-location{
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 21px;
    background-image: url(./static/lianjia-sprite.png);
    background-position: -183px -15px;
}

.location{
    position: relative;
    bottom: 15px;
}

.auth{
    font-size: 80%;
}

.icon-login{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./static/lianjia-sprite.png);
    background-position: -200px -16px;
    position: relative;
    top:3.3px;
    left: 2px;
}

.login{
    
}