*{
    box-sizing: border-box;
}

.row::before,.row::after{
    content:'';
    clear:both;
    display: block;
}

.col{
    float:left;
    padding: 1px;
    margin-bottom: 1px;
    border: solid peachpuff;
}

.col-1{
    width:8.333333333333333%;
}
.col-2{
    width:16.666666666666666%;
}
.col-3{
    width:25%;
}
.col-4{
    width:33.333333333333333%;
}
.col-5{
    width:41.666666666666666%;
}
.col-6{
    width:50%;
}
.col-7{
    width:58.333333333333333%;
}
.col-8{
    width:66.666666666666666%;
}
.col-9{
    width:75%;
}
.col-10{
    width:83.333333333333333%;
}
.col-11{
    width:91.666666666666666%;
}
.col-12{
    width:100%;
}

body{
    margin: 0px;
}

.container{
    max-width: 1240px;
    margin:0px auto;
    padding: 5px;
}

.global-nav{
    font:18px sans-serif;
}

.search input{
    height: 2em;
    width: 20em;
    border-radius: 0.3em
}

.search button{
    border-radius: 0.4em;
    font:16px sans-serif; 
    background:#0084FF;
    color: #eee;
}

.global-nav input::placeholder{
       color:#ccc;
       font-family: "Heiti SC" sans-serif;
       font-size: 17px;
}

.global-nav a{
    display: inline-block;
    text-decoration: none;
    font: inherit;
    padding: .2em;
    color: grey;
}

.global-nav a:hover{
    color:slateblue;
}

.link-group a:first-child{
    color: #222;
}

.note img:last-child{
    width: 30px;
    height: 30px;
}