* {
    box-sizing: border-box;
}

.row::before,
.row::after {
    content:'';
    clear: both;
    display: block;
}

.col {
    float: left;
    padding: 4px;
}

.col-1 {
    width: 4.166666666666666%;
}

.col-2 {
    width: 8.333333333333333%;
}

.col-3 {
    width: 12.5%;
}

.col-4 {
    width: 16.666666666666666%;
}

.col-5 {
    width: 20.833333333333333%;
}

.col-6 {
    width: 25%;
}

.col-7 {
    width: 29.166666666666666%;
}

.col-8 {
    width: 33.333333333333333%;
}

.col-9 {
    width: 37.5%;
}

.col-10 {
    width: 41.666666666666666%;
}

.col-11 {
    width: 45.833333333333333%;
}

.col-12 {
    width: 50%;
}

.col-13 {
    width: 54.166666666666666%;
}

.col-14 {
    width: 58.333333333333333%;
}

.col-15 {
    width: 62.5%;
}

.col-16 {
    width: 66.666666666666666%;
}

.col-17 {
    width: 70.833333333333333%;
}

.col-18 {
    width: 75%;
}

.col-19 {
    width: 79.166666666666666%;
}

.col-20 {
    width: 83.333333333333333%;
}

.col-21 {
    width: 87.5%;
}

.col-22 {
    width: 91.666666666666666%;
}

.col-23 {
    width: 95.833333333333333%;
}

.col-24 {
    width: 100%;
}
body{
    margin: 0px;
}
.global-nav{
    background:#545652;
}
.global-nav .right{
    text-align: right;
}
.global-nav a{
     display: inline-block;
     text-decoration: none;
     color:#ccc;
     font-family:Helvetica,Arial,sans-serif;
     font-size: 12px;
    padding: 0.5em 1em; /*根据字体大小添加padding */
}
.global-nav a:hover{
    color: #fff;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
}
.bg{
    background: #e6fcf9 repeat-x;
}
.clear{
    clear: both;
}

.nav {
     font-size: 15px;
     font-family: sans-serif;
     padding: 10px;
}

.nav a{
   text-decoration: none;
   color: #037b82;
   font:inherit;
   margin: 0 auto;
}

.nav .title-logo{
    font-weight: bolder;
    font-size:25px;
    margin-right: 2em;
}

.nav .link:hover{
    cursor: pointer;
    background: rgb(132, 195, 247); 
    color:#fff;
}

.nav input{
    border-radius:.5em;
    outline: 0;
    padding:5px 0px;
    position: relative;
    top: .8em;
}

.nav button{
    border: none;
    outline: 0;
    color: #777;
    background: #fff;
    position: absolute;
    top: 4.9em;
    margin-left: -30px;
    font-weight: bold;
}

.right{
    float: right;
}
 
.matued{
    opacity: .5;
}

.title{
    font-size: 10px;
    font-family: sans-serif;
}

.select{
    padding: 2px;
    margin: 10px 0;
}

.select .like{
    position: relative;
    width: 50px;
    height: 50px;
    padding-top: 8px;
    padding-left: 5px;
    background: rgb(241, 204, 135);
    font-size:12px;
    text-align: center;
    top:27px;
    left: -5px;;
   
}

.select .like span{
    display: block;
}

.select .s-info{
    border-bottom: 1px solid;
}

.s-title a,.r-info a:first-child{
    text-decoration: none;
    font:inherit;
    color: rgb(135, 153, 207);
}

.s-content{
    background: #eee;
    font-size: 14px;
   }

.page{
    text-align: center;
}

 .page a{
    text-decoration: none;
    color: #555;
    font-size: 13px;
    padding: 10px 0;
    margin-bottom: 5px;
} 


.select .s-meta {
    margin-top: 5px;
    padding: 5px 0;
    background: #fff;
    width: 640px;
    height: 26px; 
    position: relative;
    top: .19em;
    font-family: sans-serif;
    font-size: 14px;
    color: #666;
}

.select .s-meta a ,.r-content a{
    text-decoration: none;
    color: #666;
}

.s-meta  a:hover,.s-title a:hover ,.r-info a:hover{
    cursor: pointer;
    background: rgb(132, 195, 247); 
    color:#fff;
}

.s-meta span:last-of-type{
    padding-left: 2em;
}

.recomb{
    font-size: 15px;
    font-family: sans-serif;
    margin: 10px 0;
    padding: 2px;
}

.recomc{
    border-top: 1px solid #666;
}

.r-content{
    font-size: 13px;
}

.footer span{
    font-size: 13px;
    font-family: sans-serif;
    
}

.footer a{
    font-size: 14px;
    text-decoration: none;
    color: rgba(0, 0, 255, .7)
}

