.lr-popout {
    display: inline-block;
    position: fixed;
    padding: 10px;
    background: #fff;
    border: 1px solid;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    border: 2px solid;
}

[hidden] {
    display: none !important;
}