*{
    box-sizing: border-box;
    font:10px sans-serif;
}
.row::before,.row::after{
    content:'';
    display: block;
    clear:both;
}
.col{
    float: left;
    border: solid #ccc;
    padding: 2px;
    margin-bottom: 2px;
}

.col-1{
    width:8.333333333333333%;
}
.col-2{
    width:16.666666666666666%;
}
.col-3{
    width:25%;
}
.col-4{
    width:33.333333333333333%;
}
.col-5{
    width:41.666666666666666%;
}
.col-6{
    width:50%;
}
.col-7{
    width:58.333333333333333%;
}
.col-8{
    width:66.666666666666666%;
}
.col-9{
    width:75%;
}
.col-10{
    width:83.333333333333333%;
}
.col-11{
    width:91.666666666666666%;
}
.col-12{
    width:100%;
}

body{
    margin: 0px;
}

.container{
    max-width: 1080px;
    margin-left: auto;
    margin-right:auto;
}

.global-nav{
    background: #333;    
}

.global-nav a,.nav-item{
     text-decoration: none;
     font:inherit;
     color: #bbb;
     display: inline-block;
     padding: .5em .6em;
}

.global-nav a::after{
    content: '';
    display: inline-block;
    width: 2px;
    height: 1em;
    background: #ccc;
    position: relative;
    top:2px;
    left: .7em;
}

.global-nav a:last-of-type::after{
    display: none;
}
.global-nav a:hover{
    color:#fff;
}

.global-nav .right{
    position: relative;
     text-align: right;
     margin-right: auto;
}

.nav-item:hover{
    color: orange;
}